/migrations/
cosine_sim.csv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
wheels/
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Environments
.env
.venv
venv/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# VS Code
.vscode/

.~lock*
.ipynb_checkpoints
trash/
analysis/